.imprint-container{
    margin-left: 32px;
    margin-right: 32px;
}

.imprint-content a {
    text-decoration: none;
    color: black;
}

.imprint-content a:hover {
    color: rgba(255, 128, 0, 1);
    transition: ease-in 125ms;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 400;
    text-shadow: 0px 0px 1px rgba(255, 0, 0, 0.2);
}

@media (max-width:400px) {
    .imprint-content{
        padding-right: 8px;
        padding-left: 8px;
    }
    .card-body-imprint{
        padding-left: 6px !important;
        padding-right: 6px !important;
        font-size: 1rem;
    }

}